nodered/flows.json
[
    {
        "id": "35663338d3b3c010",
        "type": "tab",
        "label": "Flux 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "5ebd66df6c05ba97",
        "type": "protobuf-file",
        "protopath": "/home/fatma/sparkplug/sparkplug_b.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "6a37a097cc308b96",
        "type": "mqtt-broker",
        "name": "HiveMQ cloud",
        "broker": "0b1fe1fedc0c453db6ea029b69b32f1c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "Raspberrypi",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "52f68897d5e479e3",
        "type": "inject",
        "z": "35663338d3b3c010",
        "name": "timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c1af8ef136e7f383"
            ]
        ]
    },
    {
        "id": "c1af8ef136e7f383",
        "type": "rpi-dht22",
        "z": "35663338d3b3c010",
        "name": "",
        "topic": "Read DHT Sensor",
        "dht": "11",
        "pintype": "0",
        "pin": 4,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "31ec1e7efcec5f84"
            ]
        ]
    },
    {
        "id": "332f81172053ed09",
        "type": "function",
        "z": "35663338d3b3c010",
        "name": "Moisture Data",
        "func": "var value = parseInt(msg.payload.trim());\nmsg.payload = {\n    deviceId: \"691251b02900a86edfa65db7\",\n    fieldId: \"35124a0b-3430-4764-9868-009d74821f6e\",\n    value: value,\n    status: value === 1 ? \"Dry\" : \"Wet\",\n    timestamp: new Date().toLocaleString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "7456b5922e05391b"
            ]
        ]
    },
    {
        "id": "7456b5922e05391b",
        "type": "debug",
        "z": "35663338d3b3c010",
        "name": "moist",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "b865bbfb2c6ddbdd",
        "type": "inject",
        "z": "35663338d3b3c010",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "1cc844ed96e8b5c3"
            ]
        ]
    },
    {
        "id": "1cc844ed96e8b5c3",
        "type": "pythonshell in",
        "z": "35663338d3b3c010",
        "name": "moisture read",
        "pyfile": "/home/fatma/read_moisture.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "332f81172053ed09"
            ]
        ]
    },
    {
        "id": "31ec1e7efcec5f84",
        "type": "function",
        "z": "35663338d3b3c010",
        "name": "function 1",
        "func": "// Extract real sensor data\nvar temperature = parseFloat(msg.payload);\nvar humidity = parseFloat(msg.humidity);\n\n// Generate a normally distributed value using Box–Muller\nfunction randNormal(mean, stdDev) {\n    let u = 0, v = 0;\n    while (u === 0) u = Math.random(); // Avoid log(0)\n    while (v === 0) v = Math.random();\n    let num = Math.sqrt(-2.0 * Math.log(u)) * Math.cos(2.0 * Math.PI * v);\n    return mean + num * stdDev;\n}\n\n// Clamp values to realistic bounds\nfunction clamp(value, min, max) {\n    return Math.max(min, Math.min(max, value));\n}\n\n// Simulated values with natural distribution\nvar soilMoisture = clamp(randNormal(45, 10), 10, 100);    // avg 45%, sd 10\nvar nitrogen = clamp(randNormal(40, 12), 10, 100);    // mg/kg\nvar phosphorus = clamp(randNormal(20, 6), 5, 100);     // mg/kg\nvar potassium = clamp(randNormal(100, 30), 20, 200);   // mg/kg\nvar pH = clamp(randNormal(6.5, 0.4), 5.5, 8);   // pH\nvar rainfall = clamp(randNormal(5, 7), 0, 30);        // mm\n\n// Determine statuses\nvar tempStatus;\nif (temperature < 10) tempStatus = \"Very Cold\";\nelse if (temperature < 18) tempStatus = \"Cold\";\nelse if (temperature < 25) tempStatus = \"Normal\";\nelse if (temperature < 30) tempStatus = \"Warm\";\nelse tempStatus = \"Hot\";\n\nvar soilStatus;\nif (soilMoisture < 20) soilStatus = \"Very Dry\";\nelse if (soilMoisture < 40) soilStatus = \"Dry\";\nelse if (soilMoisture < 60) soilStatus = \"Normal\";\nelse if (soilMoisture < 80) soilStatus = \"Humid\";\nelse soilStatus = \"Very Humid\";\n\n// Final combined payload\nmsg.payload = {\n    deviceId: \"b924c3eb-62b8-4664-aa7f-f51f72d8130c\",\n    fieldId: \"35124a0b-3430-4764-9868-009d74821f6e\",\n    temperature: parseFloat(temperature.toFixed(2)),\n    humidity: parseFloat(humidity.toFixed(2)),      // air humidity\n    soil_moisture: parseFloat(soilMoisture.toFixed(2)),\n    nitrogen: parseFloat(nitrogen.toFixed(2)),\n    phosphorus: parseFloat(phosphorus.toFixed(2)),\n    potassium: parseFloat(potassium.toFixed(2)),\n    pH: parseFloat(pH.toFixed(2)),\n    rainfall: parseFloat(rainfall.toFixed(2)),\n    soilType: \"Loamy\",\n    cropType: \"rice\",\n    temperature_status: tempStatus,\n    soil_moisture_status: soilStatus,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "8131367c1097126a"
            ]
        ]
    },
    {
        "id": "8131367c1097126a",
        "type": "mqtt out",
        "z": "35663338d3b3c010",
        "name": "Publish to HiveMQ Cloud",
        "topic": "sensor/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6a37a097cc308b96",
        "x": 750,
        "y": 420,
        "wires": []
    }
]